.login{
    height: 100vh;
    background-image: linear-gradient( #0000007e , #0000007e), url(/background_banner.jpg);
    padding: 20px 8px;
}
.login-logo{
    width: 150px;
    margin-left: 4%;
}
.login-form{
    width: 100%;
    max-width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.75);
    padding: 60px;
    border-radius: 4px;
}
.login-form h1{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}
.login-form input{
    width: 100%;
    height: 50px;
    background: #333;
    color: white;
    margin: 12px 0;
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size: 16px;
    font-weight: 500;
}
.login-form button{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    color: white;
    background: #e50914;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.form-help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #b3b3b3;
}
.remamber{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remamber input{
    width: 18px;
    height: 18px;
}

.form-switch{
    margin-top: 40px;
    color: #737373;
}
.form-switch span{
    color: white;
    font-weight: 500;
    margin-left: 6px;
    cursor: pointer;
}