.title-Cards {
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-Cards h2 {
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  overflow: hidden;
}
.card-list img {
  width: 250px;
  border-radius: 4px;
  cursor: pointer;
}
.card-list .cards {
  position: relative;
}
.card-list .cards p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-decoration: none;
}
