.hero{
    position: relative;
}
.banner-img{
    width:100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
    
}

.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 4%;
    bottom: 0;
}

.caption-img{
    width: 90%;
    max-width: 450px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btn{
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
}
.hero-btn .btn img{
    width: 25px;
}
.hero-btn .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    cursor: pointer;
    border-radius: 4px;
}
.hero-btn .btn.dark-btn{
    color: white;
    background: #6d6d6eb3;
}
.hero-btn .btn:hover{
    background-color: #ffffffbf;
}
.hero-btn .btn.dark-btn:hover{
 background-color: #6d6d6e66;
}
.more-cards{
    padding-left: 4%;
}

@media (max-width:1020px){
    .hero-caption .title-Cards{
        display: none;

    }
    .hero-btn{
        margin-bottom: 20px;
    }
}

@media (max-width:800px){
    .hero-caption{
        padding-left: 4%;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 40%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero-btn .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 3%;
    }
}

@media(max-width: 500px){
    .caption-img{
        display: none;
    }
    .hero-btn .btn img{
        width: 15px;
    }
    .hero-btn .btn{
        padding: 4px 12px;
        font-size: 10px;
        gap: 5px;
    }
}